@use "../10-functions/theme-accessor" as *;

.c-calculator {
  --switcher-target-width: var(--item-size-min);
  --space-switcher: var(--space-m);
  --space-stack: 0.5em;
  --space-flow: 2em;

  max-inline-size: 50%;
  background-color: get(color, pure-white);
  box-shadow: var(--shadow);

  &__checkbox {
    --space-cluster: var(--space-gutter-s);

    color: get(color, gunmetal);
    font-weight: get(font-weight, semi-bold);

    input[type="radio"] {
      appearance: none;
      block-size: get(font-size, 2);
      inline-size: get(font-size, 2);
      background-color: transparent;
      border: var(--border);
      border-radius: 100%;
      position: relative;
      display: grid;
      place-items: center;

      &::after {
        content: "";
        display: block;
        inline-size: 50%;
        block-size: 50%;
        background-color: get(color, blue);
        border-radius: 100%;
        transform: scale(0);
        border: var(--border);
        border-color: get(color, blue);
      }

      &:checked {
        background-color: #e1e7fe80;
        border: var(--border);
        border-color: #f0f3fe;

        &::after {
          transform: scale(1);
        }
      }

      &:hover {
        border-color: get(color, blue);
      }
    }
  }

  &__inputs {
    // deal with span in inputs
  }

  &__result {
    --matched-radius-space: calc(var(--radius) - var(--space-gutter));
    --box-radius-min: max(var(--matched-radius-space), var(--radius-s));

    background-color: get(color, blue);
    border-radius: var(--box-radius-min) var(--space-3xl) var(--space-3xl)
      var(--box-radius-min);

    & * {
      --space-flow: 1em;
      color: get(color, pure-white);
    }
  }
}
