@use "../10-functions/theme-accessor" as *;

.calculator {
  --item-size-min: 20rem;
  --switcher-target-width: var(--item-size-min);
  --space-switcher: var(--space-gutter-m);
  --space-flow: var(--space-gutter);
  --space-stack: var(--space-2xs);
  --space-cluster: var(--space-gutter-s);

  position: absolute;
  background-color: get(color, pure-white);
  box-shadow: var(--shadow);

  @media screen and (min-width: 1440px) {
    --item-size-min: 25rem;
  }

  fieldset {
    border: none;
    .l-switcher {
      --space-switcher: var(--space-gutter);
    }
  }

  .calculator__switch {
    color: get(color, gunmetal);
    font-weight: get(font-weight, semi-bold);

    #imperial-switch {
      display: none;
    }

    input[type="radio"] {
      appearance: none;
      block-size: get(font-size, 2);
      inline-size: get(font-size, 2);
      background-color: transparent;
      border: var(--border);
      border-radius: 100%;
      display: grid;
      place-items: center;

      &::after {
        content: "";
        display: block;
        inline-size: 50%;
        block-size: 50%;
        background-color: get(color, blue);
        border-radius: 100%;
        transform: scale(0);
        border: var(--border);
        border-color: get(color, blue);
      }

      &:checked {
        background-color: #e1e7fe80;
        border: var(--border);
        border-color: #f0f3fe;

        &::after {
          transform: scale(1);
        }
      }

      &:hover {
        border-color: get(color, blue);
      }
    }
  }

  .calculator__inputs {
    --space-switcher: var(--space-gutter);

    .js-imperial {
      display: none;
    }

    .l-switcher {
      --switcher-target-width: 20rem;
    }

    .l-stack {
      position: relative;

      span {
        --space-stack: 0;
        position: absolute;
        inset-block-end: calc(var(--border-width) + var(--space-gutter-s));
        inset-inline-end: calc(var(--border-width) + var(--space-gutter-s));
        color: get(color, blue);
        font-size: get(font-size, 1);
        line-height: get(line-height, fine);
        font-weight: get(font-weight, semi-bold);
      }
    }
  }

  .calculator__result {
    --matched-radius-space: calc(var(--radius) - var(--space-gutter));
    --box-radius-min: max(var(--matched-radius-space), var(--radius-s));

    background-color: get(color, blue);
    border-radius: var(--box-radius-min) var(--space-3xl) var(--space-3xl)
      var(--box-radius-min);
    margin-block-start: var(--space-gutter);

    & * {
      --space-flow: 1em;
      color: get(color, pure-white);
    }
  }
}
