.hero {
  --switcher-content-alignment: stretch;
  --space-switcher: none;
  --hero__form-block-size: calc(
    calc(var(--space-2xl) * 1) + calc(var(--space-3xl) * 1) +
      calc(var(--font-size-5) * 2 * var(--line-height-fine)) +
      calc(var(--font-size-base) * 4 * var(--line-height-base)) + calc(2em * 1)
  );

  @media screen and (max-width: 760px) {
    flex-direction: column;
  }

  .hero__left {
    --space-flow: 2em;
    --measure: 50ch;
    padding-block: var(--space-m-2xl) var(--space-3xl);
    min-block-size: calc(var(--hero__form-block-size) + 10vh);

    @media screen and (max-width: 760px) {
      --space-flow: 1em;
      --hero__form-block-size: none;
      padding-block: 0 var(--space-gutter-l);
      min-block-size: none;
      margin-inline: auto;
    }

    & > * {
      padding-inline-end: var(--space-2xl);

      @media screen and (max-width: 760px) {
        text-align: center;
        margin-inline: auto;
        padding-inline-end: 0;
      }
    }

    @media screen and (max-width: 760px) {
      h1 {
        max-inline-size: 15ch;
      }
    }
  }

  .hero__right {
    position: relative;
    margin-block-end: -8rem;
  }
}
