.pattern-01 {
  position: absolute;
  inset-block-start: var(--space-gutter);
  inset-inline-end: var(--space-gutter);
  z-index: -1;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.pattern-02 {
  --space-flow: 0;
  --fluid-16-216: clamp(1rem, -39.4412rem + 58.8235vi, 13.5rem);
  position: absolute;
  inset-inline-start: var(--fluid-16-216);
  z-index: -1;
  transform: translateY(100%) scale(1.2);
  transform-origin: left;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}
