@use "../20-mixins/theme-applier" as *;
@use "../10-functions/theme-accessor" as *;

:root {
  // GLOBAL TOKENS --------------------
  @include themeCssVariables();
  --measure: 66ch;
  --border: 1px solid var(--border-color, currentColor);
  --item-size-min: 14rem;
}

:root {
  // CONTEXTUAL-GENERIC TOKENS --------------------
  // CONTEXTUAL-CONTENT TOKENS --------------------
  // Spacing
  --space-gutter: #{get(space, s-l)};
  --space-gutter-s: #{get(space, s)};
  --space-gutter-l: #{get(space, l)};
  --space-region: #{get(space, 3xl)};

  --radius: #{get(space, xs)};
  --radius-l: #{get(space, m)};

  // Accessibility
  --color-accent: #{get(color, blue)};
  --focus-ring: 2px solid currentColor;
  --focus-ring-offset: 2px;

  // COMPONENT-SPECIFIC TOKENS --------------------
}
